<footer class="sticky-footer py-2 border-top footer">
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <span>Powered by</span>
                <a href="http://www.fiction2fact.com" target="_new">
                    <img src="./assets/images/f2f_new_logo.jpg" alt="Fiction2Fact Inc." width="130" height="35"
                        style="vertical-align: bottom; border: none;" />
                </a>
                <div class="copyright mx-auto" style="margin-right: 0px !important;">
                    <span>Copyright &copy; Fiction2Fact Solutions Private Limited.</span>
                </div>
            </div>
        </div>
    </div>
</footer>